body {
    background-color:black;
}

.centered-stuff {
    display: flex;        
    flex-direction: column;     
    justify-content: space-around;  
    align-items: center;          
    margin: 0;               
}

.large-font {
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

main, footer, a:link, a:visited, nav {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.centered-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.centered-list {
    text-align: center;
    list-style: none;
}

.left-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width:100%;
}

header, main, footer, nav {
    text-shadow:
        0 0 5px #00f, 
        0 0 10px #00f, 
        0 0 20px #00f, 
        0 0 30px #00f, 
        0 0 40px #0ff, 
        0 0 50px #0ff, 
        0 0 75px #0ff; 
}

img {
    box-shadow:
        0 0 5px #00f, 
        0 0 10px #00f, 
        0 0 20px #00f, 
        0 0 30px #00f, 
        0 0 40px #0ff, 
        0 0 50px #0ff, 
        0 0 75px #0ff; 
}
